@charset "UTF-8";
.header-title {
  font-size: 1rem;
  color: white;
  font-family: "Kode Mono", monospace;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-items: center;
  gap: 1rem;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.25rem;
}

.welcome-text {
  color: white;
  font-size: 2rem;
  font-family: "Kode Mono", monospace;
}

.welcome-text::after {
  display: block;
  content: "ﾉﾞ";
  animation: change-text 1.25s;
  animation-iteration-count: 3;
  margin-top: -0.5rem;
}

#portrait-img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  padding: 0.5rem;
  border: 5px solid rgb(166, 202, 131);
  box-shadow: -2px 2px 0 0 rgba(255, 255, 255, 0.7);
  filter: saturate(20%) hue-rotate(-400deg);
  margin-top: 1rem;
}

.text-box {
  background-color: rgba(175, 185, 200, 0.5);
  height: 50vh;
  width: 70vw;
  margin: 2em auto;
  box-shadow: -5px 0 0 0 rgba(255, 255, 255, 0.7), 5px 0 0 0 rgba(255, 255, 255, 0.7), 0 -5px 0 0 rgba(255, 255, 255, 0.7), 0 5px 0 0 rgba(255, 255, 255, 0.7);
}

.para {
  margin: 2rem;
}

.container {
  display: flex;
  height: 2.5rem;
  width: 8rem;
  justify-self: center;
}

.gif {
  filter: contrast(0%) brightness(0%) invert(100%);
  height: 200px;
  width: 200px;
  background-image: url(/assets/hello.gif);
  background-attachment: fixed;
  background-position: center;
  animation: play-once 1.5s forwards;
}

.gif:hover {
  animation: play-infinite 1.5s infinite steps(1);
}

@keyframes change-text {
  0% {
    content: "ﾉ";
  }
  50% {
    content: "ﾉﾞ";
  }
  100% {
    content: "-";
  }
}
header {
  display: flex;
  width: 100%;
  background-color: rgba(166, 202, 131, 0.5);
  border-bottom: 1px solid antiquewhite;
}

header a {
  text-decoration: none;
  font-family: "Kode Mono", monospace;
}

#logo {
  height: 6rem;
  width: 6rem;
  margin: -1rem 0rem -1rem 1rem;
}

.menu a {
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  margin: 1rem;
  padding: 0 0.25rem 0 0.25rem;
  border-radius: 10%;
}
@media only screen and (max-width: 480px) {
  .menu a {
    padding: 0.75rem;
    background-color: #afb9c8;
    width: 100%;
    text-align: end;
    display: block;
    margin: 0;
  }
}

.menu-button {
  display: none;
}

@media only screen and (max-width: 480px) {
  #menu-button {
    position: absolute;
    display: hidden;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-self: center;
  height: 100%;
}
@media only screen and (max-width: 480px) {
  .menu {
    align-items: center;
    max-width: 250px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 480px) {
  header {
    display: grid;
    grid-template-areas: "title   title   hamburger" "nav     nav     nav";
  }
}

@media only screen and (max-width: 480px) {
  .menu-icon {
    grid-area: hamburger;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 2em 1.5em 2em 0;
    position: relative;
    user-select: none;
    visibility: visible;
  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    background: white;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
  }
}

@media only screen and (max-width: 480px) {
  .navbar:before {
    top: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar:after {
    top: -5px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar:before,
  .navbar:after {
    background: white;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    transition: all 0.2s ease-out;
  }
}

@media only screen and (max-width: 480px) {
  .menu {
    grid-area: nav;
    max-width: unset;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
  }
}

.nav-item:hover {
  background-color: red;
}

.menu a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-button:checked ~ .menu {
  max-height: 20em;
}

.menu-button:checked ~ .menu-icon .navbar {
  background: transparent;
}

.menu-button:checked ~ .menu-icon .navbar:before {
  transform: rotate(-45deg);
}

.menu-button:checked ~ .menu-icon .navbar:after {
  transform: rotate(45deg);
}

.menu-button:checked ~ .menu-icon .navbar:before,
.menu-button:checked ~ .menu-icon .navbar:after {
  top: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(230, 188, 177);
  background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  display: flex;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/*# sourceMappingURL=style.css.map */
