@use './partials/mixins' as m;
@use './partials/variables' as v;
@use './partials/queries';

#about {
    @include m.section-container(v.$base-cream);
    @include m.center-column;
    height: auto;
}

.heading-title {
    @include m.default-heading;
    gap: 1rem; 
    padding-top: 2rem;
    font-size: 2rem;
    position: relative;
    margin-bottom: 1rem;
    &--padding {
        padding-top: 5rem;
    }
    &--dark {
        color: v.$text-brown;
    }
    @include queries.tablet {
        padding-top: 0rem;
        margin-top: 2rem;
        padding: 0;
    }

    @include queries.desktop {
        font-size: 2.2rem;
    }
    @include queries.large-desktop {
        font-size: 2.5rem;
    }
}

.text-box {
    background-color:rgb(175, 185, 200, .8) ;
    height: auto;
    width: 90vw;
    margin: 2em auto;
    padding: 1rem;
    font-family: v.$main-font; 
    font-size: 0.9rem;
    color: v.$text-black;
    @include m.textbox-border;
    @include queries.tablet {
        width: 60vw;
        margin-top: 3rem;
        margin-bottom: 0rem; 
    }
    @include queries.desktop {
        width: 60vw;
        margin-top: 3rem;
        margin-bottom: 0rem; 
    }
    @include queries.large-desktop {
        width: 45vw;
        padding: 1rem;
        margin-top: 3rem;
        margin-bottom: 0rem; 
    }
  }



// Skills and Education section 

.skills-edu-container{
    @include queries.tablet {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }
    @include queries.desktop {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }
    @include queries.large-desktop {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }
}

.icon {
    filter: invert(100%);
    transition: transform .2s;
    @include m.top-layer;
    @include queries.phone {
        height: 2.5rem;
        width: 2.5rem;
    }
    @include queries.tablet {
        height: 1.9rem;
        width: 1.9rem; 
    }
    @include queries.desktop {
        height: 1.9rem;
        width: 1.9rem; 
    }
    @include queries.large-desktop {
        height: 1.9rem;
        width: 1.9rem; 
    }
  }

.icon:hover {
    transform: scale(1.5);
    filter: drop-shadow(0 0 1rem rgba(27, 59, 201, 0.8)) invert(100%);
}

.skills-container {
    justify-self: center;
    display: grid; 
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    gap: 2rem;
    font-family: v.$main-font;
    color: white;
    padding: 1rem;
    background-color:rgb(175, 185, 200, .8);
    @include m.textbox-border;
    @include queries.phone {
        gap: 1rem;
        margin-bottom: 2rem;
    }
    @include queries.tablet {
        margin-top: 2rem; 
        gap: 1.6rem;
        height: fit-content;
    }
    @include queries.desktop {
        margin-top: 2rem; 
        gap: 1rem;
        height: fit-content;
        width: 40vw;
    }
    @include queries.large-desktop {
        margin-top: 2rem; 
        gap: 2rem;
        height: fit-content;
        width: 35vw;
    }
    
  }

.education {
    width: 80vw;
    font-family: v.$main-font;
    color: v.$text-black;
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
    @include queries.tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        width:40vw;
        margin: 0;
    }
    @include queries.desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        width:40vw;
        margin: 0;
    }
    @include queries.large-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        width:40vw;
        margin: 0;
        margin-bottom: 4.75rem;
    }
}

.edu-container {
    margin: 1rem;
    flex-direction: row;
    @include queries.phone {
        flex-direction: column;
    }
    @include queries.tablet {
        width: 25vw;
    }
    @include queries.desktop {
        width: 25vw;
    }
    @include queries.large-desktop {
        width: 25vw;
    }
    
}

.uni {
    height:5rem;
    width: 6rem;
    margin-top: 1rem;
}

.uni-two {
    height: 3rem;
    width: 6rem;
    margin-top: 2rem;
}

.school {
    font-size: 0.9rem;
    background-color: rgb(175, 185, 200, .8);
    @include m.textbox-border;
    padding: 0.8rem;
    margin-bottom: 1rem;
    &--align-end {
        text-align: end;
    }
    &--bold {
        font-weight: bold;
    }
}

.computer-img {
    height: 5rem;
    width: 5rem;
    margin: 1rem; 
}


.about-img {
    display: flex;
    flex-direction: row;
    @include queries.phone {
        display: none;
    }
    @include queries.desktop {
        justify-content: center;
    }
    @include queries.large-desktop {
        justify-content: center;
    }
}

.line {
    align-self: flex-end;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.9rem;
}

