@use './partials/mixins' as m;
@use './partials/variables' as v;

#about {
    @include m.section-container(v.$base-cream)
}

.heading-title {
    @include m.default-heading;
    @include m.center-column;
    gap: 1rem; 
    font-size: 2rem;
    padding: 2rem;
    padding-top: 8rem;
    position: relative;
}

.text-box {
    background-color:rgb(175, 185, 200, .5) ;
    height:50vh;
    width: 70vw;
    margin: 2em auto;
    padding: 2.5rem;
    @include m.textbox-border
  }
  