@use './partials/mixins' as m;
@use './partials/variables' as v;
@use './partials/queries';

#contact{
    @include m.section-container(v.$base-cream);
    @include m.center-column;
    height: auto;
    font-family: v.$main-font;
}

.contact-section {
    @include m.center-column;
    @include queries.desktop {
        display: flex;
        flex-direction: row;
        width: 100vw;
        gap: 3rem;
    }
    @include queries.large-desktop {
        display: flex;
        flex-direction: row;
        width: 100vw;
        gap: 3rem;
    }
}


.send-message {
    padding: 1rem;
    @include m.top-layer;
    background-color: v.$main-pink; 
    margin: 1rem;
    color: v.$text-black;
    font-size: 0.75rem;
    @include m.textbox-border-pink;
    @include queries.desktop {
        width: 38vw;
    }@include queries.large-desktop {
        width: 35vw;
        height: 20rem;
        font-size: 1rem;
    }
}

.contact-form {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-gap: 0.5rem;
    text-align: start;
    padding: 1rem;
    align-items: center;
}

.submit-button {
    width: fit-content;
    justify-self: center;
    margin-right: 2rem;
}

.contact-form > input, textarea{
    padding: 0.2rem;
    font-family: v.$main-font;
}

.connect {
    margin-top: 2rem;
    margin: 1rem;
    font-size: 0.9rem;
    position: relative;
    z-index: 1;
    width: 91vw;
    padding: 0.5rem;
    background-color: v.$main-pink;
    color: v.$text-black;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include m.textbox-border-pink;
    @include queries.tablet {
        width: 55vw;
    }
    @include queries.desktop {
        width: 38vw;
        height: 14rem;
    }
    @include queries.large-desktop {
        width: 35vw;
        height: 14rem;
        font-size: 1.2rem;
    }
}

.socials-container {
    margin-top: 1rem;
    font-size: 0.8rem;
    @include queries.large-desktop {
        font-size: 1rem;
    }
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.socials > p {
    align-self: center;
}

.socials-logo {
    height: 3rem;
    width: 3rem;
    filter: invert(100%);
}

.socials-logo:hover {
    @include m.logo-highlight;
    transform:rotate(10deg) scale(1.2)
}

.goodbye {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goodbye > p {
    margin: 1.5rem;
    color: white;
    font-weight: 500;
    @include queries.desktop {
        font-size: 1.1rem;
    }
    @include queries.large-desktop {
        font-size: 1.2rem;
    }
}


 
// Plays gif once on page load
.gif {
    filter: contrast(0%) brightness(0%) 
    invert(100%);
    height: 200px;
    width: 200px;
    background-image: url(/assets/hello.gif);
    background-attachment: scroll;
    background-position: center;
    background-clip: content-box;
    animation: play-once 2.5s forwards;  
    margin-top: -6rem;
    position: relative;
    z-index: 1;
}

// Plays animation on hover
.gif:hover {
    animation: play-infinite 3s infinite steps(1);
    position: relative;
    z-index: 1; 
}

@keyframes play-once {
    0%   { background-image: url('../assets/gif/frame_00_delay-0.05s.png');} 
    5%   { background-image: url('../assets/gif/frame_4_delay-0.05s.png');} 
    10%   { background-image: url('../assets/gif/frame_8_delay-0.05s.png');} 
    15%  { background-image: url('../assets/gif/frame_12_delay-0.05s.png'); }
    20%   { background-image: url('../assets/gif/frame_16_delay-0.05s.png');} 
    25%   { background-image: url('../assets/gif/frame_20_delay-0.05s.png');} 
    30%  { background-image: url('../assets/gif/frame_24_delay-0.05s.png'); }
    35%   { background-image: url('../assets/gif/frame_28_delay-0.05s.png');}
    40%   { background-image: url('../assets/gif/frame_32_delay-0.05s.png');}  
    45%   { background-image: url('../assets/gif/frame_36_delay-0.05s.png');} 
    50%  { background-image: url('../assets/gif/frame_40_delay-0.05s.png'); }
    55%   { background-image: url('../assets/gif/frame_43_delay-0.05s.png');} 
    60%  { background-image: url('../assets/gif/frame_47_delay-0.05s.png'); }
    65%   { background-image: url('../assets/gif/frame_50_delay-0.05s.png');} 
    70%   { background-image: url('../assets/gif/frame_54_delay-0.05s.png');} 
    75%  { background-image: url('../assets/gif/frame_58_delay-0.05s.png'); }
    80%   { background-image: url('../assets/gif/frame_62_delay-0.05s.png');} 
    95%   { background-image: url('../assets/gif/frame_66_delay-0.05s.png');} 
    90%  { background-image: url('../assets/gif/frame_70_delay-0.05s.png'); }
    95%   { background-image: url('../assets/gif/frame_74_delay-0.05s.png');} 
    100% { background-image: url('../assets/gif/frame_74_delay-0.05s.png'); }
}

@keyframes play-infinite {
    0%   { background-image: url('../assets/gif/frame_00_delay-0.05s.png');} 
    5%   { background-image: url('../assets/gif/frame_4_delay-0.05s.png');} 
    10%   { background-image: url('../assets/gif/frame_8_delay-0.05s.png');} 
    15%  { background-image: url('../assets/gif/frame_12_delay-0.05s.png'); }
    20%   { background-image: url('../assets/gif/frame_16_delay-0.05s.png');} 
    25%   { background-image: url('../assets/gif/frame_20_delay-0.05s.png');} 
    30%  { background-image: url('../assets/gif/frame_24_delay-0.05s.png'); }
    35%   { background-image: url('../assets/gif/frame_28_delay-0.05s.png');}
    40%   { background-image: url('../assets/gif/frame_32_delay-0.05s.png');}  
    45%   { background-image: url('../assets/gif/frame_36_delay-0.05s.png');} 
    50%  { background-image: url('../assets/gif/frame_40_delay-0.05s.png'); }
    55%   { background-image: url('../assets/gif/frame_43_delay-0.05s.png');} 
    60%  { background-image: url('../assets/gif/frame_47_delay-0.05s.png'); }
    65%   { background-image: url('../assets/gif/frame_50_delay-0.05s.png');} 
    70%   { background-image: url('../assets/gif/frame_54_delay-0.05s.png');} 
    75%  { background-image: url('../assets/gif/frame_58_delay-0.05s.png'); }
    80%   { background-image: url('../assets/gif/frame_62_delay-0.05s.png');} 
    95%   { background-image: url('../assets/gif/frame_66_delay-0.05s.png');} 
    90%  { background-image: url('../assets/gif/frame_70_delay-0.05s.png'); }
    95%   { background-image: url('../assets/gif/frame_74_delay-0.05s.png');} 
    100% { background-image: url('../assets/gif/frame_78_delay-0.05s.png'); }
}




