@use './partials/variables' as v;
@use './partials/mixins' as m;
@use './partials/queries';

// Home Section
.home {
  @include m.center-column;
  @include m.section-container(v.$base-pink);
  height: 100%;
} 

.home-container {
  height: 100%;
  margin-top: 10rem;
}

 
// Header Text 
.header-title {
    @include m.center-column;
    @include m.default-heading;
    gap: 1rem;
    // margin-top: 10rem;
    @include queries.tablet {
      font-size: 1.8rem;
      gap: 2rem;
    }
    @include queries.desktop {
      margin-top: 3.5rem; 
      font-size: 1.6rem;
      gap: 1rem;
    }
    @include queries.large-desktop {
      margin-top: 3.5rem; 
      font-size: 1.6rem;
      gap: 1rem;
    }
}


// Align animation on wave
.wave-box {
  margin-top: -0.25rem;
}

.wave-text {
  font-size: 2rem;
}

// Wave animation
.wave-text::after {
  display: block;
  content: "ﾉﾞ";
  animation: change-text 1.25s;
  animation-iteration-count: 3;
  margin-top: -0.5rem;
}

// Image
#portrait-img {
  @include m.picture-border(rgb(128, 216, 212),rgb(255, 255, 255, 0.7) );
  width: 18rem;
  height: 18rem;
  filter: saturate(20%) hue-rotate(30deg);
  margin-top: 4rem;
  @include queries.phone {
    width: 14rem;
    height: 14rem;
    margin-top: 2rem;
  }
 
}

// Waving emoticon container
.container {
  display: flex;
  height: 2.5rem;
  width: 8rem;
  @include queries.tablet {
    width: 11rem;
  }
  @include queries.desktop {
    width: 12rem;
  }
  @include queries.large-desktop {
    width: 12rem;
  }
}

// Resume 
.resume-button {
  margin-top: 5rem;
  padding: 0.5rem;
  background-color: v.$main-blue;
  border-color: white;
  @include m.top-layer;

  @include queries.phone {
    margin-top: 3rem;
  }
}

.resume-link {
  text-decoration: none;
  font-family: v.$main-font;
  color: white;
  font-size: 1.1rem;
}

.resume-link:hover {
  filter: v.$button-highlight-bold;
}

.resume-button:hover {
  filter: v.$button-highlight-bold;
}

// Animation for wave-box
@keyframes change-text {
  0% {
    content: "ﾉ";
  }
  50% {
    content: "ﾉﾞ";
  }
  100% {
    content: "-";
  }
}
