@use './partials/variables' as v;
@use './partials/mixins' as m;

// Home Section
.home {
  @include m.center-column;
  @include m.section-container(v.$base-pink)
} 
 
// Header Text 
.header-title {
    @include m.center-column;
    @include m.default-heading;
    gap: 1rem;
}

// Align animation on wave
.wave-box {
  margin-top: -0.25rem;
}

.wave-text {
  font-size: 2rem;
}

// Wave animation
.wave-text::after {
  display: block;
  content: "ﾉﾞ";
  animation: change-text 1.25s;
  animation-iteration-count: 3;
  margin-top: -0.5rem;
}

#portrait-img {
  @include m.picture-border(rgb(128, 216, 212),rgb(255, 255, 255, 0.7) );
  width: 14rem;
  height: 14rem;
  filter: saturate(20%) hue-rotate(30deg);
  margin-top: 1rem;

}

.container {
  display: flex;
  height: 2.5rem;
  width: 8rem;
}

// Animation for wave-box
@keyframes change-text {
  0% {
    content: "ﾉ";
  }
  50% {
    content: "ﾉﾞ";
  }
  100% {
    content: "-";
  }
}

// MOVE TO CONTACT PAGE
// Plays stickman gif once on page load
.gif {
    filter: contrast(0%) brightness(0%) 
    invert(100%);
    height: 200px;
    width: 200px;
    background-image: url(/assets/hello.gif);
    background-attachment: fixed;
    background-position: center;
    animation: play-once 1.5s forwards;  
}

// Hover to replay gif infintely 
.gif:hover {
    animation: play-infinite 1.5s infinite steps(1); 
}
