@use './partials/variables' as v;
@use './partials/queries';

header {
    display: flex;
    width: 100%;
    background-color: v.$main-green-transparant;
    border-bottom: 1px solid antiquewhite;
}
  
header a {
text-decoration: none;
font-family: v.$main-font;
}

#logo {
    height: 6rem;
    width: 5.5rem;
    margin: -1rem 0rem -1rem 1rem;
}

.menu a {
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    margin: 1rem;
    padding: 0 0.25rem 0 0.25rem;
    border-radius: 10%;
    @include queries.phone {
        padding: 0.75rem;
        background-color: v.$main-blue;
        width: 100%;
        text-align: end;   
        display: block;
        margin:0;
        border-radius: 0;
    }
}

.menu-button {
    display: none;
}

// Hides checkbox
#menu-button {
    @include queries.phone {
        position: absolute;
        display: hidden;
    }
}

.menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-self: center;
    height: 100%;
    @include queries.phone {
        align-items: center;
        max-width: 250px;
        justify-content: space-between;
    }
}

header {
    @include queries.phone{
        display: grid;
        grid-template-areas:
        "title   title   hamburger"
        "nav     nav     nav";
    }
}

.menu-icon {
    @include queries.phone {
        grid-area: hamburger;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        padding: 2em 1.5em 2em 0;
        position: relative;
        user-select: none;
        visibility: visible;   
    }
}

.navbar {
    @include queries.phone {
        background: white;
        display: block;
        height: 2px;
        width: 18px;
        position: relative;
    }
}

.navbar:before {
    @include queries.phone {
        top: 5px;
    }
}

.navbar:after {
    @include queries.phone {
        top: -5px;
    }
}

.navbar:before,
.navbar:after {
    @include queries.phone {
        background: white;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        transition: all 0.2s ease-out;   
    }
}

.menu {
    @include queries.phone {
        grid-area: nav;
        max-width: unset;
        max-height: 0;
        transition: max-height 0.2s ease-out;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background-color: rgb(255, 255, 255, 0.2);
        display: flex;
        flex-direction: column;
    }
}

.menu a:hover {
    background-color:rgb(255, 255, 255, 0.2);
}

.menu-button:checked ~ .menu {
    max-height: 20em;
}

.menu-button:checked ~ .menu-icon .navbar {
    background: transparent;
}

.menu-button:checked ~ .menu-icon .navbar:before {
    transform: rotate(-45deg);
}

.menu-button:checked ~ .menu-icon .navbar:after {
    transform: rotate(45deg);
}

.menu-button:checked ~ .menu-icon .navbar:before,
.menu-button:checked ~ .menu-icon .navbar:after {
    top: 0;
}


