@use './partials/mixins' as m;
@use './partials/variables' as v;
@use './partials/queries';

#projects {
    @include m.center-column;
    @include m.section-container(v.$base-pink);
    height: auto;
    font-family: v.$main-font;
}

.project-container {
    display: grid;
    grid-template: 1fr;
    @include queries.desktop {
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
        gap: 2rem;
    }
    
}

.project {
    background-color: v.$main-blue;
    padding: 0.5rem;
    margin: 1rem;
    color: white;
}

.project-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-bottom: 2px solid white;
    color: white;
    position: relative;
    z-index: 1;
}

.project-title {
    width: fit-content;
    align-self: flex-end;
    text-wrap: nowrap;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.repo-link {
    height: 2.5rem;
    width: 2.5rem;
    width: fit-content;
    margin: 0.5rem;
    filter: invert(100%)
}

.tech-stack {
    text-align:end;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.75rem;
    color: v.$text-black;
}


.project-one {
    height: 10rem;
    width: 18rem;
    margin-top: 0.5rem;
    opacity: 90%;
}

.project-description {
    font-size: 0.8rem;
    text-align: start;
    margin-top: 1rem;
    padding-bottom: 0.4rem;
}

.feature-list {
    text-align: start;
    padding: 0.5rem;
    font-size: 0.85rem;
}
.list-items {
    list-style-type: circle;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.list-items > li {
    padding: 0.4rem;
}
