@use './variables' as v;

  
@mixin default-heading () {
    font-size: 1.2rem;
    color: white;
    font-family: v.$main-font;
  }

@mixin center-column { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@mixin section-container($background-color) {
  background-color: $background-color;
  height: 100%;
  width: 100vw;
  
}

@mixin picture-border($color, $box-color) {
  border: 5px solid $color;
  box-shadow: -2px 2px 0 0 $box-color;
  border-radius: 50%;
  padding: 0.5rem;  
}

@mixin textbox-border {
  box-shadow: 0 0 0 0 antiquewhite,
              5px 0 0 0 antiquewhite,
              0 -5px 0 0 antiquewhite,
              0 0 0 0 antiquewhite;
  border: 5px solid v.$main-blue;
}

@mixin textbox-border-pink {
  box-shadow: 0 0 0 0 antiquewhite,
              5px 0 0 0 antiquewhite,
              0 -5px 0 0 antiquewhite,
              0 0 0 0 antiquewhite;
  border: 5px solid v.$base-pink;
}

@mixin textbox-border-cream {
  box-shadow: 0 0 0 0 antiquewhite,
              5px 0 0 0 antiquewhite,
              0 -5px 0 0 antiquewhite,
              0 0 0 0 antiquewhite;
  border: 5px solid v.$main-cream;
}

@mixin logo-highlight {
  transform: scale(1.2);
  filter: drop-shadow(0 0 0.5rem rgba(11, 26, 94, 0.8)) invert(100%);
}