// Colours
$base-pink:rgb(230, 188, 177);
$main-green: rgba(166, 202, 131);
$main-green-transparant:rgba(166, 202, 131, 0.5);
$main-blue: rgb(175, 185, 200); 
$main-pink: rgb(244, 169, 168); 
$main-purple: rgb(206, 151, 176);
$main-cream: rgb(251, 198, 164);

$main-font: "Kode Mono", monospace;



// #7fa589

// #AE7F91

// #C6B19F 