// Colours
$base-pink:rgb(230, 188, 177);
$main-green: rgba(166, 202, 131);
$main-green-transparant:rgba(166, 202, 131, 0.5);
$main-blue:rgb(175, 185, 200) ; 
$main-blue-transparent:rgb(175, 185, 200, 0.7) ; 
$main-pink: rgb(230, 188, 177, 0.6); 
$base-cream: rgb(243, 222, 183); 
$text-black: rgb(105, 99, 99);
$text-brown: rgba(82, 53, 34, 0.5);

// Font
$main-font: "Kode Mono", monospace;

// Border styles
$textbox-border:-5px 0 0 0 rgb(255, 255, 255, 0.7),
                5px 0 0 0 rgb(255, 255, 255, 0.7),
                0 -5px 0 0 rgb(255, 255, 255, 0.7),
                0 5px 0 0 rgb(255, 255, 255, 0.7);

// Button border
$button-highlight: drop-shadow(0 0 0.1rem rgba(255, 255, 255, 1));

